{# base template for client views #}
{% extends 'enterprise/enterprise_index.html.twig' %}

{% block contentt %}
	{% if view_extension is defined %}
		{% if view_extension == 'dash' %}
                    <p>Dashboard Client</p>
			{% include 'enterprise/dashboard.html.twig' %}
		
		{% endif %}
		
	{% endif %}
		

{% endblock %}