{% extends 'base.html.twig' %}
{% block content %}
	{% if type_connection == 'user' %}
		

	{% elseif type_connection == 'client' %}

			<div id="top-left" style="background-color:green;">

			</div>
			<div id="top-right" style="background-color:orange;">
				
			</div>
			<div id="down-left" style="background-color:blue;">
				
			</div>
			<div id="down-right" style="background-color:red;">
				
			</div>
		
	{% endif %}
{% endblock %}