{# base template for admin views #}
{% extends 'enterprise/enterprise_index.html.twig' %}


{% block content %}
    <p>Dashboard Admin </p>
    {{project_name}}

    {% block contentt %}
        {% include 'enterprise/dashboard.html.twig' %}
    {% endblock %}



{% endblock %}